:root{
    --main-color:#E3B574;
    --secondary-color:#6B4226;
    --third-color:#F5E9D6;
    --forth-color:#2A5C3F;
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

h2{
    display: flex;
    justify-content: center;
}

.event-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: cards 2s ease-in;
}

.event-card {
    width: 300px;
    margin: 10px;
    padding: 15px;
    background-color: var(--third-color);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-card img{
    width:300px;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px #00000033;
}



@media (max-width:768px) {
    .event-container{
        flex-direction: column;
    }
}



@keyframes cards {
  0% {
    transform: scale(0.1); 
    opacity: 0;            
  }
  100% {
    transform: scale(1);   
    opacity: 1;            
  }
}
