:root{
    --main-color:#E3B574 ;
}


body {
    background-color: var(--main-color);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 98vw;
    height: 95vh;
    
}

div h1{
    animation: down 2s ease-out;
}

@keyframes down {
    0%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0);
    }
}




@keyframes right {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateY(0);
    }
}
div p {
    font-size: 30px;
    animation: right 2s ease-in-out;
}



@media (max-width: 1024px) {
  div {
    width: 250px;
    font-size: 16px;
    padding: 15px;
  }
}



@media (max-width: 600px) {
  div {
    width: 90%;
    font-size: 14px;
    padding: 10px;
  }

  div p {
    width:100%;
    font-size: 28px;
  }
}